/* Write your CSS here! */
body {
    margin: 8px;
    color: black;
    background-color:lightslategray;
    text-align: center;
}

header,
main,
footer {
    background-color: lightslategrey;
    text-align: center;
}

#mainHeading {
    color: red;
    text-align: center;
}

h1 {
    font-size: 55px;
    text-align: center;
    color: darkslateblue;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: darkslategrey;
    font-family: sans-serif;
}

h3 {
    font-size: 25px;
    text-align: center;
    color:darkolivegreen;
    font-family: sans-serif;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    color: rebeccapurple;
    font-size: 15px;
    text-align: center;
  }

  .funParagraph {
    color: green;
  }

  article {
  padding: 10px 20px;
  }